<p>pipe works!</p>
<pre>

    {{fname}}
    {{fname | lowercase}}
    {{fname | uppercase}}

    {{age}}
    {{age |number}}
    {{age |currency}}
    {{age |currency:'Rs'}}
    {{age |currency:'Rs. '}}
    {{age |currency:'INR '}}
    {{age |currency:'INR'}} <!-- ISO Code -->
    {{age |currency:'&#8377;'}}
    {{age |currency:'&hearts;'}}

    {{today}}
    {{today | date}}
    {{today | date : 'dd-mm-yy'}}
    {{today | date : 'dd-MM-yy'}}

    {{user}}
    {{user | json}}

    {{15 | hexaaaaaaaaaaaaaa}}
    {{255 | hexaaaaaaaaaaaaaa}}

**    {{5 | params:3:6:1}}

    {{4 | pi}}

    {{'mahesh perla' | firstCaps}}
    {{'MAHESH PERLA' | firstCaps}}

</pre>