<p>var works!</p>
<pre>

    {{fname}} <!-- interpolation -->
    
    fname

    {{gender}}** <!-- one way data binding -->
    
    {{age}}
    
    {{interest}}**
    
    {{fruits}}
    
    {{fruits[1]}}
    
    {{user}}
    
    {{user.tech}}
    
    {{user  | json}}
    
    {{undf}}**


    {{a}}
    {{b}}

    a+b :: {{a+b}}<!-- expressions -->
    a-b :: {{a-b}}
    a*b :: {{a*b}}
    a/b :: {{a/b}}
    a%b :: {{a%b}}


    2+3 :: {{2+3}}
    2-3 :: {{2-3}}
    2*3 :: {{2*3}}
    2/3 :: {{2/3}}
    2%3 :: {{2%3}}
</pre>