<p>apis works!</p>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>age</th>
        <th>email</th>
        <th>password</th>
        <th>actions</th>
    </tr>
    <tr *ngFor="let user of usersList">
        <td> {{user.id}} </td>
        <td> {{user.fname}}  {{user.lname}}</td>
        <td> {{user.age}} </td>
        <td> {{user.email}} </td>
        <td> {{user.password}} </td>
        <td> 
            <span (click)="viewUser(user.id)">View </span>
            <p (click)="editUser(user.id)" >Edit</p>
            <div (click)="deleteUser(user.id)">Delete</div>
            <div (click)="viewUserNav(user.id)">View User {{user.id}}</div>

        </td>
    </tr>
</table>

<pre>
    count :: {{usersList.length}}
    <button (click)="createUser()" >Create </button> 

    {{userInfo | json}}
</pre>