<p>dir works!</p>

Predefined Directives::

<!-- 
    these all behave like attributes
    
*ngIf
[hidden]

[ngSwitch]
*ngSwitchCase
*ngSwitchDefault

*ngFor
[ngClass]
[ngStyle]


[(ngModel)]
(click) -->

<!--
    *  -- conditions & loops
    [] -- attributs
    () -- events
    [()] -- 2way data binding
    # -- local variables
-->

<br><br>
<pre>

    <input type="text" name="fname" [(ngModel)]="fname"> {{fname}}

    <input type="text" name="lname" [(ngModel)]="lname"> {{lname}}

</pre>


<p *ngIf="fname == 'qshore'"> this is if</p>

<p [hidden]="fname == 'qshore'"> this is hidden</p>

<p [ngSwitch]="fname">
    <span *ngSwitchCase="'qshore'"> this is qshore</span>
    <span *ngSwitchCase="'tech'"> this is tech</span>
    <span *ngSwitchCase="'angular'"> this is angular</span>
    <span *ngSwitchDefault> this is default</span>
</p>

<!-- *ngFor == ur foreach (works only on arrays) -->
<!-- ['kiwi', 'melon', 'berry'] -->
<p *ngFor="let item of fruits"> {{item}}</p>
<h1 *ngFor="let x of fruits"> {{x}}</h1>

<ol >
    <li *ngFor="let fruit of fruits"> {{fruit}} </li>
</ol>

<select>
    <option *ngFor="let fruit of fruits"> {{fruit}} </option>
</select>

<!-- kiwi
melon
berry -->
<table border="1">
    <tr *ngFor="let fruit of fruits">
        <td> {{fruit}} </td>
    </tr>
</table>

<p [ngClass]="{'redborder': (fname=='qshore'), 'greenborder': (fname!='qshore') }" > this is a randowm class</p>


<p [ngStyle]="{'background-color': (fname=='qshore')?'blue' : 'yellow'}" > this is a randowm style</p>


<pre>
    Events
</pre>

<p (click)="callMe()" > this is click </p>
<p (dblclick)="callMe()" > this is dbl click </p>
<p (mouseover)="callMe()" > this is over </p>
<p (mouseout)="callMe()" > this is out </p>
<p (mouseenter)="callMe()" > this is enter </p>
<p (mouseleave)="callMe()" > this is leave </p>
<p (mouseup)="callMe()" > this is up </p>
<p (mousedown)="callMe()" > this is down </p>
<p (mousemove)="callMe()" > this is move </p>


<pre>
    <input type="text" [(ngModel)]="fname" placeholder="click" (click)="callMe()">

    <input type="text" [(ngModel)]="fname" placeholder="focus" (focus)="callMe()">

    <input type="text" [(ngModel)]="fname" placeholder="blur" (blur)="callMe()">

    <input type="text" [(ngModel)]="fname" placeholder="change" (change)="callMe()">

    <input type="text" [(ngModel)]="fname" placeholder="up" (keyup)="callMe()">

    <input type="text" [(ngModel)]="fname" placeholder="down" (keydown)="callMe()">

    <input type="text" [(ngModel)]="fname" placeholder="press" (keypress)="callMe()">

    <input type="text" [(ngModel)]="fname" placeholder="cut" (cut)="callMe()">

    <input type="text" [(ngModel)]="fname" placeholder="copy" (copy)="callMe()">

    <input type="text" [(ngModel)]="fname" placeholder="paste" (paste)="callMe()">


</pre>







<pre>
















</pre>